<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/Vaping" version="1.0.0" viewmodes="maximized">
    <tizen:application id="BDlUltCOxH.Vaping" package="BDlUltCOxH" required_version="5.0"/>
    <content src="login.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="logovapestorewhite.png"/>
    <name>Vaping</name>
    <tizen:profile name="mobile"/>
    <tizen:setting context-menu="disable"/>
</widget>
